* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(210, 36%, 96%);
    color: black;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    width: 100%;
}

header {
    font-size: 1.5rem;
}

header, form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

form input, form button {
    padding: 0.5rem;
    font-size: 2em;
    border: none;
}

form button {
    color: #fda085;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover {
    background: #fda085;
    color: white;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 40%;
    list-style: none;
}

.todo-item {
    margin: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    padding: 0.5rem;
}

.todo-text-div {
    flex-grow: 1;
    font-size: 1.2rem;
    color: black;
}

.check-button, .delete-button, .edit-button {
    border: none;
    margin: 0.2rem;
    padding: 0.5rem;
}

.check-button {
    color: white;
    background: #14b236;
}

.delete-button {
    color: white;
    background: #fda085;
}

.edit-button {
    color: white;
    background:blueviolet;
}

.check-button:hover {
    color: #14b236;
    background: white;
}

.delete-button:hover {
    color: #fda085;
    background: white;
}

.edit-button:hover {
    background: white;
    color:blueviolet;
}

.fa-trash, .fa-check {
    pointer-events: none;
}

.complete {
    text-decoration: line-through;
    opacity: 0.8;
    text-decoration-color: black;
}

.fall {
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
    transition: all 1s ease;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
    color: #ff6f47;
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
}

.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

.select::after {
    content: "\25BC";
    position: absolute;
    background: #ff6f47;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.3s ease;
    color: white;
}

.select:hover::after {
    background: white;
    color: #ff6f47;
}

.todo-text {
    border: none;
    font-size: 1.2rem;
    color: black;
    flex-grow: 1;
}

.todo-date-text {
    border: none;
    font-size: 1rem;
    color: black;
    margin: 0.2rem;
}

.todo-date {
    font-size: 1.5rem;
    padding: 0.75rem;
    font-family: "Poppins", sans-serif;
}

i {
    pointer-events: none;
}